* {
	box-sizing: border-box;
}

body main #fondo {
	width: 100%;
	top: 100px;
	margin-bottom: 55px;
} /*Adición*/

body main #fondo {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-image: url("../imgs/portada.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	object-fit: cover;
}

body main .contenedor .banner {
	width: 70%;
	overflow: hidden;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

#fondo:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

body main .contenedor .banner h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 38px; /*50*/
	color: #fff;
	text-align: center;
	position: relative;
	letter-spacing: 6px; 
	padding: 85px 0px;
}

body main .contenedor {
	background: #fff;
}

body main .contenedor .galeria {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 150px;
	padding: 220px 60px;
	grid-gap: 10px;
	background: #fff;
	width: 90%;
	margin: auto;
}

body main .contenedor .galeria .item {
	position: relative;
	border: 3px solid #444;
}

body main .contenedor .galeria .item:hover {
	transform: scale(1.05);
	transition: 300ms;
}

body main .contenedor .galeria .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

body main .contenedor .galeria .item .titulo {
	position: absolute;
	bottom: 0;
	color: #fff;
	background: linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,1));
	width: 100%;
	margin: 0;
	padding: 10px; 
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 19px;
}

body main .contenedor .galeria .item:nth-child(2) {
	grid-column-start: span 2;
}

body main .contenedor .galeria .item:nth-child(3) {
	grid-row-start: span 2;
}

body main .contenedor .galeria .item:nth-child(8) {
	grid-column-start: span 2;
}

/*@media (min-width: 1024px) {
	.galeria {
		grid-template-columns: repeat(5, 1fr);
		width: 90%;
		margin: auto;
	}
	.item:nth-child(1) {
		grid-column-start: span 2;
	}
}*/

@media screen and (max-width: 700px) {
	body main .contenedor .banner h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 32px; /*50*/
		letter-spacing: 2px; 
	}

    body main .contenedor .banner {
		width: 85%;
	}
}

/*body main article h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	margin-bottom: 20px;
	color: #333;
} recycle*/

@media screen and (max-width: 770px) {
	body main .contenedor .galeria {
		grid-template-columns: repeat(4, 1fr);
	}
	body main .contenedor .galeria .item:nth-child(1) {
		grid-column-start: span 2;
	}
	body main .contenedor .galeria .item:nth-child(2) {
		grid-row-start: span 2;
	}
	body main .contenedor .galeria .item:nth-child(3) {
		grid-row-start: span 1;
		grid-column-start: span 2;
	}
	body main .contenedor .galeria .item:nth-child(4) {
		grid-column-start: span 2;
	}
	body main .contenedor .galeria .item:nth-child(5) {
		grid-column-start: span 1;
	}
}

@media screen and (max-width: 770px) {
	body main .contenedor .galeria {
		grid-template-columns: repeat(4, 1fr);
	}
	body main .contenedor .galeria .item:nth-child(1) {
		grid-column-start: span 2;
	}
	body main .contenedor .galeria .item:nth-child(2) {
		grid-row-start: span 2;
	}
	body main .contenedor .galeria .item:nth-child(3) {
		grid-row-start: span 1;
		grid-column-start: span 2;
	}
	body main .contenedor .galeria .item:nth-child(4) {
		grid-column-start: span 2;
	}
	body main .contenedor .galeria .item:nth-child(5) {
		grid-column-start: span 1;
	}
}

@media screen and (max-width: 640px) {
	body main .contenedor .galeria {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 150px;
		padding: 100px 50px;
		grid-gap: 15px;
		width: 100%;
		margin: auto;
	}
	body main .contenedor .galeria .item:nth-child(1) {
		grid-column-start: span 2;
		grid-row-start: span 1;
	}
	body main .contenedor .galeria .item:nth-child(2) {
		grid-column-start: span 2;
		grid-row-start: span 2;
	}
	body main .contenedor .galeria .item:nth-child(3) {
		grid-column-start: span 2;
		grid-row-start: span 1;
	}
	body main .contenedor .galeria .item:nth-child(4) {
		grid-column-start: span 2;
		grid-row-start: span 2;
	}
	body main .contenedor .galeria .item:nth-child(5) {
		grid-column-start: span 1;
	}
	body main .contenedor .galeria .item:nth-child(7) {
		grid-column-start: span 2;
		grid-row-start: span 1;
	}
	body main .contenedor .galeria .item:nth-child(8) {
		grid-column-start: span 2;
		grid-row-start: span 2;
	}	
	body main .contenedor .galeria .item:nth-child(9) {
		grid-column-start: span 2;
		grid-row-start: span 1;
	}
}

@media screen and (max-width: 440px) {
	body main .contenedor .galeria {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 150px;
		padding: 100px 20px;
		grid-gap: 10px;
		width: 100%;
	}
	body main .contenedor .galeria .item:nth-child(5) {
		grid-column-start: span 2;
		grid-row-start: span 1;
	}
	body main .contenedor .galeria .item:nth-child(6) {
		grid-column-start: span 2;
		grid-row-start: span 2;
	}
}
